// @import "../node_modules/bootstrap/scss/bootstrap";

main {
    font-size: 24px;
    margin: 4rem auto 4rem;
}

.drill {
    &_list {
        font-size: .8em;
        display: flex;
        flex-wrap: wrap;
        // gap: 4%;
        // column-gap: 4%;
        row-gap: .4rem;
    }
    &_item{
        flex-basis: 100%;
        border: 2px solid lightgray;
        border-radius: .2rem;
        &_inner {
            margin: .3rem auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .8rem;
            width: calc(16rem + 250px);
        }
    }
}